.helperButtons {
	width: 80%;
	display: flex;
	flex-shrink: 1;
	flex-direction: column;
	justify-content: flex-start;
	margin: 0 auto;
	margin-top: 2rem;
	gap: 1.5rem;
	z-index: 2;
	position: relative;
}

a {
	display: block;
	margin: 1rem auto 1rem auto;
	text-align: center;
}

.pageHelper {
	box-sizing: border-box;
	padding-top: 75px;
	width: 100%;
	margin: 0 auto;
	display: block;
	background-size: cover;
	background-position: center;
	background-color: #19181e;
	transition: transform 0.3s ease;
	translate: 120%;
	animation: animIn 0.3s ease forwards;
}

@keyframes animIn {
	to {
		translate: 0%;
	}
}

.nextPage {
	transform: translateX(-120%);
}

.helperTitle {
	display: block;
	color: white;
	z-index: 2;
	position: relative;
	box-sizing: border-box;
	width: 100%;
	padding: 0 1rem;
	margin-top: 0;
	margin-bottom: 1rem;
}

#page3 {
	display: grid;
	place-items: center;
	padding-bottom: 150px;
	height: 100vh;
}

#donePage {
	padding-top: 1rem !important;
}

#page3 .helperTitle {
	text-align: left;
}
#donePage .helperTitle {
	text-align: left;
}

.stepIndicator {
	position: absolute;
	z-index: 10;
	width: 70%;
	top: 2rem;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	align-items: center;
	justify-content: space-between;
	transition: transform 0.3s ease;
}

.hideIndicator {
	transform: translateX(-50%) translateY(-300px);
}

.indicatorBG {
	height: 5px;
	width: 100%;
	background-color: white;

	position: absolute;
	border-radius: 999px;
}

.indicatorLine {
	background-color: var(--red);
	height: 100%;
	width: 0%;
	isolation: isolate;
	z-index: 1;
	transition: width 0.3s;
	border-radius: 999px;
}

.indicatorCircle {
	height: 15px;
	width: 15px;
	border-radius: 50%;
	background-color: white;
	isolation: isolate;
	z-index: 2;
	transition: 0.2s;
	position: relative;
}

.indicatorCircle::after {
	content: "";
	height: 100%;
	width: 0;
	transition: width 0.1s;
}

.circleRed::after {
	background-color: var(--red) !important;
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	border-radius: 50%;
}

.circleText {
	position: absolute;
	left: 50%;
	bottom: -1.3rem;
	font-size: 0.7rem;
	text-align: center;
	transform: translateX(-50%);
	color: white;
	opacity: 0.3;
	white-space: nowrap;
}

.helperButton {
	width: fit-content;
	margin: 0 auto;
	margin-top: 1rem;
}
