#burgerMenu {
	position: fixed;
	bottom: 1rem;
	right: 1rem;
	color: white;
	z-index: 999;
	width: 60px;
	height: 60px;
	display: grid;
	place-items: center;
	border-radius: 50%;
	background-color: var(--red);
}

.burger {
	font-size: 2rem;
}

#navBar {
	position: fixed;
	bottom: 0px;
	left: 0;
	z-index: 990;
	width: 100vw;
	height: 300px;
	border-radius: 20px 20px 0 0;
	overflow: hidden;
	pointer-events: none;
	filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.18));
}

.navBG {
	background-color: var(--red);
	border-radius: 50%;
	width: 60px;
	aspect-ratio: 1;
	position: absolute;
	bottom: 1rem;
	right: 1rem;
	transform: scale(1);
	transition: 0.3s ease;
	pointer-events: none;
}

.showNavBG {
	transform: scale(15);
}

.navBarContainer {
	width: 80%;
	height: 80%;
	color: white;
	display: grid;
	margin: 0 auto;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	transform-origin: bottom right;
	transition: 0.25s ease;
	transform: scale(0);
	pointer-events: all;
}

.showNav {
	transform: scale(1);
}

.navItemContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
}

.navItem {
	font-size: 2rem;
}
